a:focus {
	text-decoration: none;
}

/*#map {
height: 500px;
}
html, body {
height: 100%;
margin: 0;
padding: 0;
}
.controls {
background-color: #fff;
border-radius: 2px;
border: 1px solid transparent;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
box-sizing: border-box;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
height: 29px;
margin-left: 17px;
margin-top: 10px;
outline: none;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
}

.controls:focus {
border-color: #4d90fe;
}
.title {
font-weight: bold;
}
#infowindow-content {
display: none;
}
#map #infowindow-content {
display: inline;
}*/

.init-loader {
	position: fixed;
	z-index: 2000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	text-align: center;
	line-height: 100%;
	transition: all 0.3s ease 0s;
}

.markup button {
    background-color: #E96562;
}

.main-menu-list {
	display: inline-block;
	max-width: 155px;
    vertical-align: middle;
}

.i-menu-list {
	vertical-align: middle;
}

textarea.form-control.appointment-textarea {
	resize: none;
	height: 83px;
}

.init-loader .fa {
	font-size: 100px;
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;
}

.init-loader.loaded {
	opacity: 0;
	z-index: -1;
}

.content-loader {
	height: 50px;
	width: 100%;
	position: relative;
	z-index: 0;
}

.item-repeat {
	position: relative;
}

.content-loader .fa {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	font-size: 50px;
}

.header-container > .top-header .top-nav .nav-left > li.nav-profile .users-top-avatar i,
.header-container > .top-header .top-nav .nav-right > li.nav-profile .users-top-avatar i {
	font-size: 30px;
	width: auto;
	vertical-align: middle;
}

.loading-icon {
	display: none;
}

.btn-load .loading-text {
	display: none;
}

.btn-load .loading-icon {
	font-size: inherit;
	vertical-align: middle;
	display: inline-block;
}

.modal-content {
	border-radius: 5px;
}

.h2, h2 {
	font-weight: 400;
}

.table.table-middle > tbody > tr > td,
.table.table-middle > tbody > tr > th,
.table.table-middle > tfoot > tr > td,
.table.table-middle > tfoot > tr > th,
.table.table-middle > thead > tr > td,
.table.table-middle > thead > tr > th {
	vertical-align: middle;
}

.td-button {
	width: 50px;
	text-align: center;
}

.td-count {
	width: 150px;
	text-align: center;
}

.modal-title {

	font-weight: 400;
}

.reviews-icons {
	padding: 3px;
	border-radius: 2px;
	color: #fff;
	width: 20px;
	text-align: center;
	margin-right: 5px;
}

.fa-yelp {
	background-color: #D32323;
}

.fa-facebook {
	background-color: #3B5998;
}

.fa-google {
	background-color: #db4437;
}

.ui-bullet .ui-bullet-content {
	margin-bottom: 0;
	margin-left: 90px;
}

.nav.nav-tabs {
	margin-bottom: 0;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	color: #555;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	background-color: #fff;
}

.tab-content {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-radius: 0 0 2px 2px;
	min-height: 300px;
}

.panel-body.panel-width-auto {
	min-height: auto;
}

.nav-container .nav ul.sub-menu {
	max-height: 0;
	overflow: hidden;
	display: block;
	transition: all 0.3s ease 0s;
}

.nav-container .nav ul.sub-menu.opened {
	max-height: 1000px;
}

.questions-box {
	position: relative;
	z-index: 0;
}

.surveys_title {
	margin-bottom: 15px;
}

.wrap-logo {
	max-width: 420px;
	margin: 0 auto;
}

.wrap-logo img {
	width: 100%;
}

@media (max-width: 768px) {
	.wrap-logo {
		padding: 0 10px;
	}
}

.list-group-item.active a,
.list-group-item:hover a,
.list-group-item.active:hover a {
	color: #fff;
}

.change-project-signin {
	display: inline-block;
	margin: 0 auto;
}

.logo {
	text-align: center;
}

.menu-xs {
	display: none;
}

@media (max-width: 768px) {
	.logo .img-responsive {
		max-height: 100%;
		margin: 0 auto;
	}

	.change-project-top {
		display: inline-block;
		position: absolute;
		z-index: 10;
		right: 14px;
		top: -2px;
	}

	.open .dropdown-toggle {
		text-align: right;
	}

	.app-footer {
		left: 0;
	}

	.menu-xs {
		display: block;
	}
}

.terms-cell {
	padding: 0;
}

.terms-cell label {
	font-weight: 400;
	font-size: 18px;
}

.chat-text.chars-area {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 110px;
}

.chat-text.chars-area textarea {
	height: 59px;
}

.chat-button {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100px;
}

.chat-button .btn {
	height: 59px;
}

@media (max-width: 768px) {
	.page-fixed {
		position: fixed;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 100px;
		padding: 0;
	}

	.page-fixed h2 {
		display: none;
	}

	.dialogs {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    background: transparent;
	    box-shadow: none;
	}

	.phones-xs .panel-body {
		padding: 10px;
		min-height: auto;
	}

	.dialogs-body {
		position: absolute;
		z-index: 0;
	    top: 50px;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    background: #f5f5f5;
	}

	.search_lead_title {
		display: block;
		padding: 5px 0;
		font-size: 16px;
		font-weight: 600;
	}

	.dropable-phones {
		top: 50px;
		right: 0;
	}

	.mobile-phones-body .btn.btn-default {
		width: 100%;
		height: 50px;
	}

	.mobile-phones-body .btn .caret {
		margin-top: 6px;
	}

	.dropable-phones-outer {
		display: block;
	}

	.phones-body {
		top: 100px;
		right: 0;
		bottom: 226px;
		width: auto;
	}

	.info-body {
		position: relative;
	    right: auto;
	    width: auto;
	    display: none;
	}

	.chat-body {
		position: absolute;
		top: auto;
		bottom: 50px;
		left: 0;
		right: 0;
		max-height: calc(100% - 50px);
		vertical-align: bottom;
	}

	.chat-wrap {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		min-height: 100%;
	}

	.send-group {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.chat-text.chars-area {
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		right: 50px;
	}

	.chat-text.chars-area textarea {
		height: 50px;
	}

	.chat-button {
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}

	.chat-button .btn {
		height: 100%;
	}

	.phones-xs {
		position: relative;
		z-index: 1;
	}

	.phones-xs .phone-name {
		float: right;
	}

	.more-phones {
		display: block;
		float: right;
	}

	.dialogs-phones-item {
		padding: 10px 10px;
	}

	.dialogs-phones-inner {
		margin-bottom: 0;
	}

	.edit-main-container > div {
		margin-bottom: 10px;
	}

	.item-panel.active div.row-name a.a-icon {
		display: inline-block;
	}

	.item-panel .italic-desc {
		padding-left: 0;
	}

	.message-icon {
		display: none;
	}

	.panel-child div.row-name > span {
		margin-left: 0;
	}

	.item-panel.panel-child {
		padding: 0;
		margin-top: 15px;
	}

	div.item-panel.panel-child:hover,
	div.item-panel.panel-child.active {
		background: transparent;
		box-shadow: none;
		border-color: transparent;
	}

	.time-container {
		position: static;
		top: auto;
		left: auto;
	}

	.upload-name-box {
		width: 185px;
	}

	.list-repeat .item-panel .item-panel {
		margin-left: 0;
	}

	.phone-icon {
		margin-right: 5px;
	}

	.item-panel div.row-info .messages-info-send {
		display: block;
		margin: 5px 0;
		padding: 0;
	}

	.item-panel div.row-info .messages-info-send span,
	.item-panel div.row-info span {
		padding: 0;
	}

	.leads-list .pull-right {
		float: none !important;
		padding-top: 45px;
	}

	.review-button-send {
		padding-top: 10px;
		text-align: right;
	}
}

.page-forgot .input-group-addon span,
.page-signin .input-group-addon span,
.page-signup .input-group-addon span {
	width: 48px;
}

.images-preview {
	width: 100px;
	height: 100px;
	text-align: center;
	display: inline-block;
	margin: 0 10px 10px 0;
	border: solid #ddd 1px;
	line-height: 96px;
	vertical-align: top;
	position: relative;
	z-index: 0;
}

.images-preview img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.removeIcon {
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 19px;
	position: absolute;
	top: 2px;
	right: 2px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.5;
}

.removeIcon:hover {
	opacity: 1;
}

.removeIcon i {
	vertical-align: middle;
}

.pictures-header h1 {
	color: #C82027;
}

.pictures-header img {
	max-height: 100px;
	max-width: 100%;
}

.pictures-box {
	max-width: 600px;
	height: 600px;
	width: 100%;
	font-size: 0;
	margin: 30px auto;
	position: relative;
	z-index: 0;
}

.pictures-screen {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.pictures-item {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	line-height: 600px;
	vertical-align: middle;
	text-align: center;
	transition: all 0.3s linear 0s;
	opacity: 0;
}

.pictures-item.current {
	left: 0;
	opacity: 1;
}

.pictures-item.next {
	left: 100%;
}

.pictures-item.prev {
	left: -100%;
}

.pictures-item img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.pictures-arrow {
	position: absolute;
	z-index: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	color: #C82027;
	cursor: pointer;
	top: 50%;
	margin-top: -15px;
	opacity: 0.5;
	transition: all 0.2s ease 0s;
}

.pictures-arrow i {
	vertical-align: middle;
}

.pictures-arrow:hover {
	opacity: 1;
}

.pictures-arrow.arrow-left {
	left: -50px;
}

.pictures-arrow.arrow-right {
	right: -50px;
}

.bottom-link-p {
	text-align: center;
	font-size: 14px;
}

@media (max-width: 768px) {
	.pictures-box {
		height: 300px;
		margin: 15px auto;
	}

	.pictures-item {
		line-height: 300px;
	}

	.pictures-arrow.arrow-left {
		left: 10px;
	}

	.pictures-arrow.arrow-right {
		right: 10px;
	}
}

.search-bar {
	margin-right: 15px;
	padding-top: 3px;
	width: 300px;
}

.report-type {
	width: 105px;
	text-align: center;
}

.report-date {
	width: 90px;
	text-align: center;
}

.report-company {
	width: 230px;
}

.table > tbody > tr > td.report-icon {
	width: 40px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.table-striped > tbody > tr:nth-child(even) {
	background-color: #fff;
}

.report-attach {
	width: 95px;
}

.help_menu .support_span {
	font-size: 12px;
}

.header-container>.top-header .top-nav .nav-right>.help_menu>a {
	padding: 14px 0;
	margin: 0 5px;
	display: inline-block;
}

.support_link .tooltip-inner {
    width: 80px;
}

.how_it_works .tooltip-inner {
    width: 120px;
}

.check-span {
	color: #5cb85c;
}

.times-span {
	color: #C82027;
}

.followup_group {
	padding-top: 10px;
	margin-bottom: 10px;
}

.followup_delay select {
	display: inline-block;
}

.followup_group .followup_delay select {
	width: 225px;
}

.followup_group .followup_text {
	width: 100%;
	margin-bottom: 10px;
}

.followup_group .followup_switcher {
	margin-bottom: 10px;
}

.followup_group .followup_switcher label,
.followup_group .followup_switcher span {
	vertical-align: middle;
}

.followup_group .followup_switcher label {
	margin: 0;
	height: 20px;
}

.followup_group .disabled_followup {
	opacity: 0.5;
}

.followup_group .followup_textarea div.chars-area textarea {
	height: 60px;
}

@media(max-width: 1120px) {
	.followup_group .followup_textarea div.chars-area textarea {
		height: 80px;
	}
}

.ref-block {
	background-color: #C82027;
	padding: 30px 15px;
	color: #fff;
}

.ref-body {
	width: 60%;
	margin: 0 auto;
}

@media (max-width: 1285px) {
	.ref-body {
		width: 70%;
	}
}

@media (max-width: 1150px) {
	.ref-body {
		width: 90%;
	}
}

.ref-body .btn {
	display: block;
	margin: 0 auto;
	color:#626262;
}

.ha_number {
	width: 100px;
}

.ref-page .form-control {
	width: 60%;
}

.pause-followup label {
	margin-bottom: 0;
	margin-top: 9px;
}

#new_users_texts textarea {
	height: 70px;
}

.pointer {
	cursor: pointer;
}

@media (max-width: 1600px) {
	.btn-group.btn-group-justified.move-top-pixel .btn-sm {
		padding: 5px 0;
	}
}

@media (max-width: 1500px) {
	.btn-group.btn-group-justified.move-top-pixel .btn-sm {
		font-size: 10px;
	}
}

@media (min-width: 991px) and (max-width: 1300px) {
	.btn-group.btn-group-justified.move-top-pixel .charset_button_text {
		display: none;
	}
}

@media (max-width: 551px) {
	.btn-group.btn-group-justified.move-top-pixel .charset_button_text {
		display: none;
	}
}

.new_users .followup_delay {
	width: 40%;
}

.new_users .form-group {
	margin-bottom: 40px;
}

.table-striped.table-phones .danger_phone,
.message-body.alert_dialog {
	background-color: #C82027;
	color: #fff;
}

.message-body.alert_dialog:before {
	border-bottom: 10px solid #C82027;
}

.StripeElement {
	background-color: white;
	height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

#payment-form {
	margin-bottom: 40px;
}

#payment-form button {
  	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	background-color: #C82027;
	border-color: #a80a0c;
	color: #fff;
}

#payment-form button:hover {
    background-color: #bc0d10 !important;
    border-color: #a80a0c !important;
}

#payment-form #card-errors {
	color: #fa755a;
	padding: 15px 0;
}

.plan_details i {
	font-size: 34px;
	margin-right: 10px;
}

.plan_details i, 
.plan_details span {
	vertical-align: middle;
}

.loader_wrapper {
	position: absolute;
	top: calc(50% - 30px);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.card_details {
	min-height: 70px;
	margin-bottom: 20px;
}